<h1>My Bookings</h1>
<p>
    SafeDesk Dashboard showing data of the current user.
</p>

<div class="container-fluid p-0" style="position: relative">
    <div class="row no-gutters mx-n2">
        <div class="col-lg-8 p-2">
            <RadzenCard>
                @*<h3>Issue List</h3>*@
                <div class="row">
                    <div class="col">
                        <RadzenButton Icon="add_circle_outline" class="btn" style="margin-bottom: 10px" Text="Add New Booking" Click="@InsertRow" Disabled=@(bookingToInsert != null) />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <RadzenDataGrid @ref="bookingsGrid" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true" EditMode="DataGridEditMode.Single"
                                        Data="@bookings" TItem="Booking" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow">
                            <Columns>
                                @*<RadzenDataGridColumn TItem="Booking" Property="Code" Title="ID" Width="120px" />
                                    <RadzenDataGridColumn TItem="Booking" Property="User" Title="User" Width="280px" >
                                    </RadzenDataGridColumn>*@
                                <RadzenDataGridColumn TItem="Booking" Property="DeskCode" Title="Desk" Width="280px">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Booking" Property="Date" Title="Date" Width="100px">
                                    <Template Context="b">
                                        @String.Format("{0:d}", b.Date)
                                    </Template>
                                    <EditTemplate Context="b">
                                        <RadzenDatePicker @bind-Value="b.Date" Style="width:100%" />
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Booking" Property="TimeSlot" Title="TimeSlot" Width="100px">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Booking" Title="Edit" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="120px">
                                    <Template Context="order">
                                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@(args => EditRow(order))" @onclick:stopPropagation="true">
                                        </RadzenButton>
                                    </Template>
                                    <EditTemplate Context="order">
                                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Primary" Class="m-1" Click="@((args) => SaveRow(order))">
                                        </RadzenButton>
                                        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Class="m-1" Click="@((args) => CancelEdit(order))">
                                        </RadzenButton>
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="Booking" Title="Delete" Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="60px">
                                    <Template Context="order">
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(order))" @onclick:stopPropagation="true">
                                        </RadzenButton>
                                    </Template>
                                    <EditTemplate Context="order">
                                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(order))">
                                        </RadzenButton>
                                    </EditTemplate>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                </div>
            </RadzenCard>
        </div>
    </div>

</div>

@code {

}
